.Game-Board {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Board-Row {
    display: flex;
    justify-content: space-evenly;
}

.Board-Tile {
    position: relative;
    flex: 1;
    margin: 6px;
    background-color: #666666;
    border-radius: 15%;
    box-shadow: 0 3px 3px 0 black
}

.Tile-Red {
    background-color: #F39144;
}

.Tile-Yellow {
    background-color: yellow;
}

.Tile-Green {
    background-color: #9DD333;
}

.Tile-Blue {
    background-color: blue;
}

.Tile-Purple {
    background-color: purple;
}

/**
* meant to set the aspect ratio of the tile as 1:1 
**/
.Board-Tile:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}

.Board-Tile-Content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    border: none;
    display: flex;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.Board-Tile-Content:hover {
    cursor: pointer;
}
