.App {
  text-align: center;
}

.App-title {
  font-size: 3em;
  font-weight: 900;
  font-style: italic;
}

.App-header {
  background-color: #1E1E1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
